@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
    --color-darck-400: rgba(36, 36, 36, 0.2);
}
@theme{
  /* Вместо tailwind.config.js теперь пишем здесь */
  --color-brand: #3b82f6;
  /* --font-sans: 'Inter', sans-serif; */
  --color-orange: #E67950;
  --font-mont: 'Montserrat';
  --color-darck: #242424;
  --color-darck-400: #24242433;
  --color-darck-op: rgba(36, 36, 36, .2);
  --color-darck-op-30: rgba(36, 36, 36, .3);
  --color-white-op-30: rgba(255, 255, 255, .3);
  --color-blue-400: #1DC1F8;
  --color-blue-600: #477BEA;
  --color-text-grad-1: #44CF98;
  --color-text-grad-2: #20ADEC;
  --color-text-grad-3: #DB34E5;
  --color-op-grad-1: rgba(29, 193, 248, 0.5);
  --color-op-grad-2: rgba(71, 123, 234, 0.5);
  
   --animate-pulse-sm: pulse-sm 2s ease-in-out infinite;
@keyframes pulse-sm {
  50% {
    opacity: 0.8;
  }
}
}
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
@layer base {
  /* @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: url(fonts/montserrat/Montserrat-Regular.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      src: url(fonts/montserrat/Montserrat-Medium.ttf) format('ttf');
    } */
  @font-face {
      font-family: 'cy';
      font-style: normal;
      font-weight: 400;
      src: url(fonts/cygrotesk/cygrotesk-keyregular.woff) format('woff');
    }
  @font-face {
      font-family: 'cy';
      font-style: normal;
      font-weight: 500;
      src: url(fonts/cygrotesk/cy-grotesk-key-3.woff) format('woff');
    }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: #242424;
  font-family: 'Google Sans', sans-serif;
}
h2{
  line-height: 120%;
}
.container{
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
.card-front{
  pointer-events: none;
}
.card:hover .card-front{
  transform: rotateY(-180deg);
  opacity: 0;
  border-radius: 100px;
  z-index: -1;
}
.card:hover .card-back{
   transform: rotateY(0);
   opacity: 1;
  z-index: 10;
}
.btn{

}
.p-btn{

}
.black-btn{

}