@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
    --color-darck-400: rgba(36, 36, 36, 0.2);
}
@theme{
  /* Вместо tailwind.config.js теперь пишем здесь */
  --breakpoint-xs: 26rem;
  --color-brand: #3b82f6;
  /* --font-sans: 'Inter', sans-serif; */
  --color-orange: #E67950;
  --font-mont: 'Montserrat';
  --color-darck: #242424;
  --color-darck-400: #24242433;
  --color-darck-op: rgba(36, 36, 36, .2);
  --color-darck-op-30: rgba(36, 36, 36, .3);
  --color-white-op-30: rgba(255, 255, 255, .3);
  --color-blue-400: #1DC1F8;
  --color-blue-600: #477BEA;
  --color-text-grad-1: #44CF98;
  --color-text-grad-2: #20ADEC;
  --color-text-grad-3: #DB34E5;
  --color-op-grad-1: rgba(29, 193, 248, 0.5);
  --color-op-grad-2: rgba(71, 123, 234, 0.5);
  --color-black-op-80: rgba(0, 0, 0, .8);
  --color-green: #00FF55;
  --color-sh: rgba(219, 52, 229, .5);
  --color-greys: #D3D3D3;

   --animate-pulse-sm: pulse-sm 2s ease-in-out infinite;
@keyframes pulse-sm {
  50% {
    opacity: 0.7;
  }
}


--animate-bounce-sm: bounce-sm 5s  infinite;

@keyframes bounce-sm {
  0%, 100% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 2.5, 1);
  }
}
--animate-bounce-hand: bounce-hand 5s  infinite;

@keyframes bounce-hand {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
}
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */
@layer base {
  /* @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      src: url(fonts/montserrat/Montserrat-Regular.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      src: url(fonts/montserrat/Montserrat-Medium.ttf) format('ttf');
    } */
  @font-face {
      font-family: 'cy';
      font-style: normal;
      font-weight: 400;
      src: url(fonts/cygrotesk/cygrotesk-keyregular.woff) format('woff');
    }
  @font-face {
      font-family: 'cy';
      font-style: normal;
      font-weight: 500;
      src: url(fonts/cygrotesk/cy-grotesk-key-3.woff) format('woff');
    }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: #242424;
  font-family: 'Google Sans', sans-serif;
}
h2{
  line-height: 120%;
}
.container{
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}
.card-front{
  pointer-events: none;
}
.card:hover .card-front{
  transform: rotateY(-180deg);
  opacity: 0;
  border-radius: 100px;
  z-index: -1;
}
.card:hover .card-back{
   transform: rotateY(0);
   opacity: 1;
  z-index: 10;
}
.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee__track {
  display: flex;
  width: fit-content;
  animation: scroll-left 10s linear infinite;
}

.marquee__content {
  display: flex;
}

.marquee__content span {
  white-space: nowrap;
  margin-right: 1rem;
}

@keyframes scroll-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.marquee__track_promo {
  display: flex;
  width: fit-content;
  animation: scroll-left 30s linear infinite;
}

/* .box {
  animation: 2s show ease;
}

@keyframes show {
  from { transform: translateY(200px); }
  to { transform: translateY(0); }
} */

.fade-block {
  opacity: 0;
  transform: translateY(65px) scale(.87); /* Эффект смещения */
  transition: opacity 1.2s ease-out, transform .6s ease-out;
}

.fade-block.visible {
  opacity: 1;
  transform: translateY(0) scale(1); /* Возврат на место */
}


.gradient-button {
  position: relative;
  padding: 12px;
  background: transparent; /* Прозрачный фон */
  border-radius: 60px; /* Закругление */
  z-index: 1;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}

.gradient-button::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 60px; /* Закругление */
  border: 3px solid transparent; /* Толщина обводки */
  background: linear-gradient(5deg, #1DC1F8 6.17%, #477BEA 86.46%); /* Градиент */
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
   cursor: pointer;
   padding: 0 10px;
}


.gradient-button:hover  {

 background: linear-gradient(45deg, rgba(134, 200, 255, 0.2) 36.17%, rgba(215, 29, 248, 0.4) 86.46%);
}
.slick-slider{
 position: relative;
  overflow: hidden;
}
.slick-list{
   position: relative;
}
.slick-track{
 display: flex;
 overflow: hidden;
}
/* .slick-arrow{
  position: fixed;
  top: 45%;
  width: 66px;
  height: 66px;
  z-index: 100;
  color: #fff;
  border: 2px solid #1DC1F8;
  border-radius: 100%;
  font-size: 0;
  background-image: url('/img/icon/arr.svg');
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: center;
  cursor: pointer;
  transition: all .3s;
}
.slick-arrow:hover{
  background-color: #fff;
  background-image: url('/img/icon/arr-black.svg');
}
.slick-next{
  right: 40px;
}
.slick-prev{
  transform: rotate(-180deg);
  left: 40px;
} */